html {
    font-family: var(--primary-font-family);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #69d7e4;
}

header h2 {
    font-size: 20px;
}

