@import "../vars.css";

nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    background-color: var(--1st-color);;
    margin-bottom: 30px;
    position: sticky;
    top: -0.1%;
    transition: ease-in-out;
    transition-duration: 0.4s;
}

.navbar-icons {
    display: flex;
    color: white;
    font-size: 125%;
    padding: 0 2.5%;
}

#sm button {
    font-size: 125%;
    background: none;
    outline: none;
    border: none;
}

#sm button:hover {

    background: none;
    outline: none;
    border: none;
}

#sm button:active {
    background: none;
    outline: none;
    border: none;
}

nav div {
    padding: 20px;
}

nav div.right {
    justify-self: flex-end;
}

nav div.nav-item a,
#sm button,
#home-icon span {
    color: white;
    font-size: 125%;
    text-align: center;
    text-decoration: none;

    border: 6px solid var(--1st-color);
    border-color: var(--1st-color);
    border-radius: 5px;
}

/* Force the size of the icons to be bigger than the text menu items */
nav #sm button span,
nav #home-icon a span {
    font-size: 200% !important;
}

.sm-visible {
    left: 0;
}

.sm-hidden {
    left: -200px;
}

nav div.nav-item a:hover, #sm button:hover {
    background-color: var(--2nd-color);
    border-color: var(--2nd-color);
}

nav div.nav-item a:active #sm button:active{
    background-color: var(--3rd-color);
    border-color: var(--3rd-color);
}

.space-filler {
    flex-grow: 1;
}
