@import "vars.css";

main {
    font-family: var(--primary-font-family);
    margin: 0 5%
}

/*****  FETCH AND LAYOUT STYLE  ****/

/*main#countries-container div.form-container {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*}*/

form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    gap: 5%;
    margin-bottom: 4%;
}

form input[type="text"] {
    font-size: 15px;
    padding: 8px;
    margin-left: 7%;
    display: block;
    border: none;
    border-bottom: 2px solid black;
    transition-duration: 0.4s;
}

form input[type="text"]:focus {
    display: block;
    padding: 8px;
    border-bottom: 2px solid var(--primary-color);
    color: darkgreen;
    outline: none;
}

form input[type="text"]::placeholder {
    color: darkgreen;
    opacity: 1;
}

/*main form {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    position: relative;*/
/*    margin-bottom: 5%; !* TODO:this can be problematic on some device heights. *!*/
/*}*/

form button {
    width: 75%;
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: darkgreen;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
}

form button:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

form button:active {
    background-color: darkgreen;
    color: #ffffff;
}

form div#table-layout-container {
    display: flex;
}

form #table-layout-container .table-layout-view {
    color: var(--primary-color);
    font-size: 40px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

form #table-layout-container .table-layout-view:hover {
    color: #ffffff;
    background-color: var(--primary-color);
}

form #table-layout-container .table-layout-view:active {
    color: #ffffff;
    background-color: darkgreen
}

/*****  TABLE STYLE  ****/

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

caption {
    margin-bottom: 25px;
}

thead {
    position: sticky;
    top: 48px;
    height: 40px;
    background-color: darkturquoise;
    scroll-behavior: smooth;
}

thead th {
    border: 2px solid darkturquoise;
}

tbody td {
    border: 2px solid deepskyblue;
}

tbody tr:last-child td {
    border-bottom-color: darkseagreen;
}

td {
    text-align: center;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

td img {
    width: 50px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

td img:hover {
    transform: scale(8.0);
}

tbody tr:nth-last-child(2) img, tbody tr:last-child img {
    transform-origin: bottom;
}

tbody tr:hover td:first-child {
    background-color: lightgreen;
}

tbody tr {
    transition-duration: 0.4s;
}

tbody tr:nth-child(even) {
    background-color: lightsteelblue;
}

tbody tr:nth-child(odd) {
    background-color: lightgrey;
}

tbody tr:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

tfoot {
    position: sticky;
    bottom: -1px;
    height: 40px;
    background-color: darkseagreen;
    cursor: pointer;
    transition-duration: 100ms;
}

tfoot td {
    border: 2px solid darkseagreen;
}

tfoot:hover {
    background-color: aquamarine;
}

tfoot td:hover {
    border-color: aquamarine;
}

tfoot td:active {
    color: #ffffff;
    border-color: var(--primary-color);
}

tfoot:active {
    background-color: var(--primary-color);
}


/*****  GRID CARDS CONTENTS  ****/

article#cards-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2%;
}

figure {
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
}

figure img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 200px;
    max-width: 100%;
    display: block;
}

figcaption p {
    color: grey;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info p {
    font-size: 12px;
}

.card-info p:first-child {
    color: grey;
}

.view-country-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition-duration: 0.4s;
}

.view-country-btn:hover {
    opacity: 0.7;
}

