table {
    table-layout: fixed;
    width: 90%;
    font-family: serif;
    border-collapse: collapse;
    margin: 0 auto;
}

table caption {
    margin-bottom: 25px;
    font-family: sans-serif;
}

table thead {
    position: sticky;
    top: 4.2%;
    height: 40px;
    background-color: darkturquoise;
    scroll-behavior: smooth;
}

table tbody th {
    background-color: darkseagreen;
    width: 20%
}

table td {
    text-align: center;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

table td img {
    width: 50px
}

table td, table th {
    border: 2px solid aliceblue;
}

table tbody tr:nth-child(even) {
    background-color: lightsteelblue;
}

table tbody tr:nth-child(odd) {
    background-color: lightgrey;
}

table tbody tr:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

table tfoot {
    position: sticky;
    bottom: -1px;
    height: 40px;
    background-color: darkseagreen;
    cursor: pointer;
}

table tfoot:hover {
    background-color: aquamarine;
}