@import "vars.css";

nav {
    font-family: var(--primary-font-family);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    background-color: var(--primary-color);;
    margin-bottom: 30px;
    position: sticky;
    top: -0.1%;
    z-index: 9;
}

#home-icon {
    padding: 0 2.5%;
}

#home-icon a {
    display: flex;
}

#nav-bar-home-icon {
    display: flex;
    color: white;
    font-size: 20px;
}

nav div {
    padding: 20px;
}

nav div.right {
    justify-self: flex-end;
}

nav div.nav-item a {
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    border: 6px solid var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 5px;
}

nav div.nav-item a:hover {
    background-color: #008c1f;
    border-color: #008c1f;
}
nav div.nav-item a:active {
    background-color: #005914;
    border-color: #005914;
}

.space-filler {
    flex-grow: 1;
}
